img {

    width: 15px;
    
    height: 15x;
    
    float: left;
    
    }
    
    #idCard {
     
    border: 5px solid black;
    margin: 50px;
    height: 14em;
    
    width: 25em;
    
    }