img {
    
    width: 100px;
    height: 100px;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    
    }
    
    #idCard {    
    position: fixed; 
    left: 50%;
    right: 50%;  
    transform: translate(-50%, -50%);
    margin-top: 10em;
    border: 5px solid black;
    border-radius: 10px;
    height: 14em;
    width: 25em;    
    }

    body {

    vertical-align: middle;
    text-align: center;
    }
    
    #postFullName {
        text-transform: capitalize;
        margin-left: 1em;
        margin-right: 1em;
        size: 10px;

    }

    #postAge {
        float: left;
     
    }
    #postPhoneNumber {
        
        float: left;
    }
    #postAddress {
        float: left;
        
    }