img {
    
    width: 100px;
    height: 100px;
    float: left;
    
    }
    
    #idCard {    
    margin-top: 5em;
    margin-left: 50%;
    margin-right: 50%;
    vertical-align: middle; 
    border: 5px solid black;
    border-radius: 10px;
    height: 14em;
    width: 25em;
    
    }

    body {
    margin-right: 50%; 
    margin-left: 50%;
    vertical-align: middle;
    }
    
    #postFullName {
    size: 15em;
    float: right;
    text-align: center;
    margin-right: 50%;
    margin-left: 50%;
    }

    #postAge {
        float: left;
        size: 20px;
    }
    #posPhoneNumber {
        float: left;
    }
    #postAddress {
        float: left;
    }